.cleeng-layer {
	padding: 5px;	
	-webkit-box-shadow: 0px 0px 33px #888;
	-moz-box-shadow: 0px 0px 33px #888;	
	box-shadow: 10px 10px 5px #888;
        margin: 22px 0;
}
.cleeng-noShadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
}
.cleeng-logo {
	background: #E6E6E6;
}
.cleeng-logo img {
	width: 100% !important;
}
.cleeng-text {
    background: white;
    font-family: Verdana;
    color: black;
    background-color: #e6e6e6;
    padding: 20px 0 0 15px;
    font-size: 11px;
}
.cleeng-textBottom {
    position: relative;
    height: 68px;
}
.cleeng-itemType {
    background: url("../images/item-types.png") 0 -90px no-repeat;
    height: 38px;
    width: 38px;
    float: left;

}
.cleeng-title {
    margin-left: 50px;
    font-size: 12px;
    font-weight: normal;
    color: black;
    font-family: Arial, sans-serif;
}
.cleeng-description {
    margin-left: 50px;
    color: #333;
    font-weight: bold;
    margin-bottom: 28px;
    font-size: 14px;
}
a.cleeng-hlink, a.cleeng-hlink:link, a.cleeng-hlink:visited {
    background: #5BAC36;
    color: white;
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    font-weight: bold;
}
.cleeng-rating {
    font-weight: bold;
    margin-top: 10px;
    height: 24px;
    line-height: 24px;
}
.cleeng-stars {
    background: url('../images/stars.png') -160px 4px no-repeat;
    vertical-align: middle;
    height: 24px;
    width: 80px;
    display: inline-block;
}
.cleeng-stars-0 {
    background-position: -80px 4px;
}
.cleeng-stars-1 {
    background-position: -64px 4px;
}
.cleeng-stars-2 {
    background-position: -48px 4px;
}
.cleeng-stars-3 {
    background-position: -32px 4px;
}
.cleeng-stars-4 {
    background-position: -16px 4px;
}
.cleeng-stars-5 {
    background-position: 0 4px;
}
.cleeng-whatsCleeng {
	position: absolute;
        bottom: 0;
}
.cleeng-whatsCleeng a {
    color: #66ac00;
    text-decoration: none;
}
.cleeng-purchaseInfo {
	background: #efefef url("../images/price-bg-corner.png") top left no-repeat;
	padding: 10px 15px 10px 12px;
	float: right;
	width: 226px;
	height: 38px;
	position:relative;
	margin-top:10px;
}
.cleeng-username, .cleeng-username:link, .cleeng-username:visited,
.cleeng-nolayer-bottom a, .cleeng-nolayer-bottom a:link, .cleeng-nolayer-bottom a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #66ac00;
}
.cleeng-clear{
     clear: both;
}
.cleeng-shoppingCart {
    display: block;
    position: absolute;
    z-index: 2;
    top: -65px;
    left: 166px;
}
.cleeng-buy {
    padding-right: 45px;
    vertical-align: middle;
    cursor: pointer;
}
.cleeng-price {
    font-size: 14pt;
    color: #68af0b;
    vertical-align: middle;
}
.cleeng-nolayer-top {
    background-color: #dedede;
    text-align: right;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    padding: 0 5px;
}
.cleeng-nolayer-top img {
    display: block;
    padding: 2px;
    float: left;
}
.cleeng-nolayer-bottom {
    background-color: #dedede;
    margin: 5px 0 10px 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    text-align: right;
}
.cleeng-nolayer-bottom img {
    vertical-align: middle;
}
.cleeng-share span.cleeng-referral-url {
    background: none;
    border: 1px solid #777;
    font-size: 10px !important;
    font-family: Arial, Verdana, sans-serif;
    padding: 1px;
    margin: 0;
    height: 15px;
    line-height: 13px;
}
.cleeng-nolayer-bottom .cleeng-rating {
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0;
}
.cleeng-nolayer-bottom .cleeng-stars {
    float: left;
    height: 24px;
    display: block;
    margin-left: 5px;
}
.cleeng-share {
    background-color: #E6E6E6;    
    float: right;
}
.cleeng-share a {
    display: block;
    float: left;
    padding-left: 3px;
}
.cleeng-share a img {
    display: block;
}